input{
	border: 0px;
}

#palco_jogo{
	margin-top: 50px;
	text-align: center;
	display: none;
}

#palco_jogo > div{
	display: inline-block;
}


.jogada{
	width: 100px;
	height: 100px;
	border-bottom: 1px solid red; 
	border-right: 1px solid red;

}

.reiniciar{
	font-family: Verdana;;
	border-radius: 20px;
    padding: 10px 20px;
    margin-top: 40px;
    transition: background 0.4s, color 0.4s;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.04em;
	color: black;
	border: 3px solid red;
	text-align: center;
}

.reiniciar:hover {
	background-color: black;
	color: white;
}


